<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
</head>
<body>

<!-- include header from layout.html -->
<div th:replace="~{layout :: siteHeader}"></div>


<div>Select query:</div>
<nav>
    <a th:each="n : ${#numbers.sequence(1,13)}"
       th:text="${n}"
       th:href="@{/logs/{qid}(qid=${n})}"
       style="margin-right: 10px;"></a>
</nav>

<h3 th:text="${queryTitle}"></h3>


<!--<th th:each="entry : ${#lists.seq(logs[0].entrySet())}" th:text="${entry.key}">Header</th>-->

<form th:if="${filters != null and !#lists.isEmpty(filters)}"
      th:action="@{/logs/{qid}(qid=${qid})}"
      method="get">

    <div th:each="fil : ${filters}">
        <label>
            <span th:text="${fil.title}"></span>
            <input th:type="${fil.uiType}" th:name="${fil.field}" th:value="${params[fil.field]}"/>
        </label>
    </div>

    <button type="submit">Run</button>
</form>


<section th:if="${columns != null and !#lists.isEmpty(columns)}">
    <table border="1">
        <thead>
        <tr>
            <th th:each="col : ${columns}" th:text="${col.title}"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="row : ${logs}">
            <td th:each="col : ${columns}" th:text="${row[col.field]}"></td>
        </tr>
        </tbody>
    </table>
</section>

<!-- include footer from layout.html -->
<div th:replace="~{layout :: siteFooter}"></div>

</body>
</html>
